.banner-img {
    background-image: url('https://www.aesop.com/u1nb1km7t5q7/AGQGWYrTapcQI1NrPvsYU/11e99769c1767531dd3c12b6fce85f37/Aesop_Bar_Soaps_2023_Web_Homepage_2_Primary_Full_Bleed_Desktop_2880x1044px.jpg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    width: 100%;
    height: 570px;
}

.banner {
    display: flex;
}

.banner-logo {
    fill: #fffef0;
    margin-left: 2.7rem;
    margin-top: 7.5rem;
}

.banner-details {
    max-width: 560px;
    margin-top: 8rem;
    margin-left: 10rem;
    color: #fffef0;
}

.banner-details p {
    font-size: .875rem;
    line-height: 1.7;
}

.banner-details h2 {
    font-size: 1.875rem;
    line-height: 1.33;
    font-weight: 400;
}

.banner-details h3 {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.7;
    font-weight: 400;
}

.banner-details button {
    background-color: transparent;
    width: 300px;
    height: 60px;
    text-align: left;
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    color: #fffef0;
    padding: 19px 23px;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    border: 1px solid #fffef0;
    margin-top: 2rem;
}

.banner-details button svg {
    fill: #fffef0;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.banner-details button:hover,
.banner-details button:hover svg {
    background-color: #fffef0;
    color: #333;
    fill: #333;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.banner-details-2 {
    display: none;
}

.second-section {
    height: 810px;
    background-color: #fffef2;
    padding-top: 150px;
}

.second-first-section {
    margin-left: 80px;
    max-width: 463px;
    width: 100%;
    min-width: 405px;
}

.second-first-section p {
    font-size: .875rem;
    line-height: 1.7;
}

.second-first-section h2 {
    font-size: 1.875rem;
    line-height: 1.33;
    font-weight: 400;
}

.second-first-section h3 {
    margin-top: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.7;
}

.second-first-section button {
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.4;
    color: #333;
    border: none;
    margin-top: 2rem;
    font-weight: 400;
}

.second-first-section button svg {
    margin-left: 5px;
    fill: #333;
}

.second-second-section {
    margin-left: 90px;
    margin-top: 140px;
    cursor: pointer;
}

.second-second-section p {
    color: #333;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.7;
    text-align: center;
    margin-top: .6rem;
}

.second-second-section:hover p {
    text-decoration: underline;
}

.second-second-section h6 {
    font-size: .875rem;
    color: #333;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: -5px;
}

.second-second-section-img {
    height: 286px;
    width: 280px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */

}

.second-second-section-img-1 {
    background-image: url("https://i.ibb.co/FsdGzcP/Screenshot-2023-09-03-at-17-39-30-Nurture-Bar-Soap-Aesop-Hong-Kong-SAR.png");
}

.second-second-section-img-2 {
    background-image: url("https://i.ibb.co/2SbWYTS/Screenshot-2023-09-03-at-18-01-10-Polish-Bar-Soap-Aesop-Hong-Kong-SAR.png");
}

.second-second-section-img-3 {
    background-image: url("https://i.ibb.co/r0RXWbH/Screenshot-2023-09-03-at-18-04-05-Refresh-Bar-Soap-Aesop-Hong-Kong-SAR.png");
}

.second-second-section-products {
    width: 100%;
    justify-content: space-between;
    margin-right: 150px;
}

.second-section-2 {
    overflow-x: scroll;
}


/* custom firefox scrollbar start */
html {
    scrollbar-width: normal;
    scrollbar-color: #51514d #cccbc2;
}

/* custom firefox scrollbar end */

/* custom scrollbar for other browser start */
html::-webkit-scrollbar {
    width: 1vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #51514d;
}


html::-webkit-scrollbar-track {
    background-color: #cccbc2;
}

/* custom scrollbar for other browser end */

.third-section {
    height: 690px;
    padding-top: 50px;
    background-color: #fffef2;
}

.third-first-section {
    max-width: 560px;
    margin-left: 90px;
    color: #333333;
}

.third-first-section p {
    font-size: .875rem;
    line-height: 1.7;
}

.third-first-section h2 {
    font-size: 1.875rem;
    line-height: 1.33;
    font-weight: 400;
}

.third-first-section h3 {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.7;
    font-weight: 400;
}

.third-first-section button {
    background-color: transparent;
    width: 300px;
    height: 60px;
    text-align: left;
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    color: #333333;
    padding: 19px 23px;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    border: 1px solid #d6d5cc;
    margin-top: 2rem;
}

.third-first-section button svg {
    fill: #333333;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.third-first-section button:hover,
.third-first-section button:hover svg {
    background-color: #333333;
    border: 1px solid #333333;
    color: #fffef2;
    fill: #fffef2;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.third-section-img {
    background-image: url("https://www.aesop.com/u1nb1km7t5q7/3GSzEbfK3uJnoXUkae2D9G/37d1916a82b754c70870cab8f85f34b0/Aesop_Article_Summer_Skin_Care_2020_Mid_1_Desktop_2560x1440px.jpg");
    height: 630px;
    margin-left: 5rem;
    width: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.fourth-section {
    background-color: #fffef2;
    height: 490px;
    text-align: center;
    padding: 0 24px;
    color: #333;
}

.fourth-section h1 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.33;
}

.fourth-section p {
    font-size: .875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
}

@media only screen and (max-width: 1712px) {
    .third-section-img {
        height: 560px;
    }
}

@media only screen and (max-width: 1440px) {
    .third-section-img {
        height: 470px;
    }
}

@media only screen and (max-width: 1250px) {
    .third-section-img {
        height: 410px;
    }

    .third-first-section {
        max-width: 300px;
    }
}

@media only screen and (max-width: 1030px) {
    .third-section-img {
        height: 330px;
    }
}

@media only screen and (max-width: 1160px) {
    .banner-details {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .second-section-2 {
        flex-direction: column;
        overflow-x: unset;
    }

    .second-first-section {
        display: flex;
        width: auto;
        max-width: 100%;
    }

    .second-first-first-section-1 {
        width: 50%;
    }

    .second-first-first-section-2 {
        max-width: 50%;
        padding-right: 100px;
    }

    .second-second-section-products {
        overflow-x: scroll;
        padding-right: 100px;
    }

    .second-section {
        height: auto;
        background-color: #fffef2;
        padding-top: 150px;
    }

    .third-section {
        height: auto;
    }

    .third-section-2 {
        flex-direction: column;
    }

    .third-section-img {
        height: 410px;
        margin-top: 2rem;
        width: auto;

    }

    .third-first-section {
        max-width: 800px;
        margin-top: 4rem;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 770px) {
    .banner-details {
        max-width: 400px;
    }
}

@media only screen and (max-width: 639px) {
    .banner-details {
        display: none;
    }

    .banner-logo {
        display: none;
    }

    .banner-details-2 {
        display: block;
        min-height: 330px;
        padding: 3rem 1.3rem;
        background-color: #333333;
        color: #fffef2;
    }

    .banner-details-2 p {
        font-size: .875rem;
        line-height: 1.7;
    }

    .banner-details-2 h2 {
        font-size: 1.5rem;
        line-height: 1.33;
        font-weight: 400;
    }

    .banner-details-2 h3 {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.7;
        font-weight: 400;
    }

    .banner-details-2 button {
        background-color: transparent;
        max-width: 598px;
        width: 100%;
        height: 60px;
        text-align: left;
        font-size: .875rem;
        display: flex;
        justify-content: space-between;
        line-height: 1.4;
        color: #fffef2;
        padding: 19px 23px;
        transition: all .2s cubic-bezier(.645, .045, .355, 1);
        border: 1px solid #fffef2;
        margin-top: 1.6rem;
    }

    .banner-details-2 button svg {
        fill: #fffef2;
        transition: all .2s cubic-bezier(.645, .045, .355, 1);
    }

    .banner-details-2 button:hover,
    .banner-details-2 button:hover svg {
        background-color: #fffef2;
        color: #333;
        fill: #333;
        transition: all .2s cubic-bezier(.645, .045, .355, 1);
    }

    .second-first-section {
        flex-direction: column;
    }

    .second-first-first-section-1 {
        width: 100%;
        margin-left: -55px;
        padding-right: 10px;
    }

    .second-first-first-section-2 {
        max-width: 100%;
        padding-right: 10px;
        margin-left: -55px;
    }

    .second-second-section {
        margin-top: 100px;
    }

    .third-section-img {
        margin-left: 24px;
        height: 244px;
    }

    .third-first-section {
        max-width: 800px;
        margin-top: 4rem;
        padding-right: 24px;
        margin-left: 24px;
    }

    .third-first-section button {
        width: 100%;
    }
}