.first-nav-info {
    height: 41px;
    background-color: #c2c2af;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.first-nav-info span {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 10px;
    cursor: pointer;
}

.first-nav-info span:hover {
    text-decoration: underline;
}

.second-nav-info {
    height: 43px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-nav-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    line-height: 1.7;
    font-weight: 400;
    color: #fffef2;
    cursor: pointer;
}

.second-nav-info span svg {
    fill: #fffef2;
    margin-left: 20px;
    stroke: #fffef2;
    stroke-width: .4px;
}

.second-nav-info p:hover {
    border-bottom: .8px solid #fffef2;
}